<!DOCTYPE HTML>
<html ng-app="app" ng-controller="Controller">

<head>
    <link href="css/nfl.css" type="text/css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="NFL256x256.png">
    <script type="text/javascript" src="js/angular-1.5.js"></script>
    <script type="text/javascript" src="js/games.js"></script>
    <title>NFL Games</title>
</head>

<body>
    <h1>NFL Games</h1>
    <input ng-model="filterText" title="Filter text" placeholder="Filter text"> {{gamesFiltered.length}} games
    <table>
        <tr>
          <th>Date</th>
            <th>Home<br>team</th>
            <th>Home<br>Points</th>
            <th>Away<br>team</th>
            <th>Away<br>Points</th>
            <th>Week</th>
            <th>Year</th>
        </tr>
        <tr ng-repeat="game in gamesFiltered (games | filter:filterText)">
          <td>{{game.dayOfWeek}} {{game.date}} {{game.gameTime}}</td>
            <td>{{game.homeTeam}}</td>
            <td>{{game.homePoints}}</td>
            <td>{{game.awayTeam}}</td>
            <td>{{game.awayPoints}}</td>
            <td>{{game.week}}</td>
            <td>{{game.year}}</td>
        </tr>
    </table>
</body>

</html>
