<!DOCTYPE HTML>
<html ng-app="app" ng-controller="Controller">

<head>
    <link href="css/nfl.css" type="text/css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="NFL256x256.png">
    <script type="text/javascript" src="js/angular-1.5.js"></script>
    <script type="text/javascript" src="js/games.js"></script>
    <title>NFL Games</title>
    <style>
    * {
      font-family: Arimo, Verdana, Arial, Helvetica, Times, serif ;
    }
    .number {
      text-align: right;
    }
    td, th {
      padding: 0.2em;
    }
    .winner {
      font-weight: bold;
    }
    </style>
</head>

<body>
    <h1>NFL Games</h1>
    <input ng-model="filterText" title="Filter text" placeholder="Filter text"> {{gamesFiltered.length}} games
    <table>
        <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Home<br>team</th>
            <th>Home<br>points</th>
            <th>Away<br>team</th>
            <th>Away<br>points</th>
            <th>Week</th>
            <th>Year</th>
        </tr>
        <tr ng-repeat="game in gamesFiltered = (games | filter:filterText)">
            <td>{{game.type}}</td>
            <td>{{game.dayOfWeek}} {{game.date}} {{game.gameTime}}</td>
            <td ng-class="{ 'winner':game.homePoints > game.awayPoints }">{{game.homeTeam}}</td>
            <td class="number">{{game.homePoints}}</td>
            <td ng-class="{ 'winner':game.awayPoints > game.homePoints }">{{game.awayTeam}}</td>
            <td class="number">{{game.awayPoints}}</td>
            <td class="number">{{game.week}}</td>
            <td class="number">{{game.year}}</td>
        </tr>
    </table>
</body>

</html>
